.sessions {
  height: 100%;
  display: flex;
  flex-direction: column;

  .filter {
    flex-basis: 25px;
    margin-bottom: 20px;
  }

  .session-list {
    flex: 1;
    max-height: calc(100% - 100px);
    overflow: scroll;
    &::-webkit-scrollbar { width: 0 !important; height: 0!important; }
  }

  .paging {
    flex-basis: 30px;
  }
}
