<div class="full-session-day" [ngClass]="{'open' : isOpen, 'closed' : !isOpen}" (click)="closePopup()">
  <div class="session-day box" *ngIf="sessionDay" (click)="preventClosePopup($event)">
    <div class="title">
      <div class="day-name">
        {{dayNames[sessionDay.day]}}
      </div>
      <div class="date">
        {{monthNames[sessionDay.month]}} {{sessionDay.date}}, {{sessionDay.year}}
      </div>
    </div>
    <div class="sessions-container">
      <div class="sessions">
        <div class="session" *ngFor="let session of sessionDay.sessions">
          <session-summary [session]="session" (click)="onSessionClicked(session)"></session-summary>
        </div>
      </div>
    </div>
  </div>
</div>
