<loader-content *ngIf="isLoading"></loader-content>
<div class="sessions-calendar box">
  <div class="day-header row">
    <div *ngFor="let dayName of dayNames" class="col">
      {{dayName}}
    </div>
  </div>
  <div class="row" *ngFor="let dayRow of sessionDays">
    <div *ngFor="let day of dayRow" class="col day" [ngClass]="{'not-current-month' : day.isNotDisplayedMonth, 'today' : day.isToday}">
      <div class="day-title">
        <div class="date">
          {{day.date}}
        </div>
        <div class="action" (click)="onAddSessionClicked(day)">
          <i class="fa fa-plus add-session"></i>
        </div>
      </div>
      <div class="day-sessions">
        <div class="day-session" *ngFor="let session of day.sessions" (click)="onSessionClicked(day, session)"
             [ngClass]="{'debt' : session.paymentState == SessionPaymentState.owed,
                         'payed' : session.paymentState == SessionPaymentState.payed,
                         'future' : session.isFuture}">
          <div class="client-info">
            {{session.timeString}}
          </div>
          <div class="client-info">
            {{session.clientName}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


