.calendar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.session-calendar-header {
  display: flex;
  height: 50px;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;

  .title {
    font-weight: bold;
    font-size: 30px;
  }

  .month-change {
    height: 100%;
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
      color: #474B60;
    }

    &.previous-month {
      padding-right: 10px;
      &:hover {
        border-right: 1px solid black;
      }
    }

    &.next-month {
      padding-left: 10px;
      &:hover {
        border-left: 1px solid black;
      }
    }
  }
}

.sessions-calendar {
  display: flex;
  flex-direction: column;
  height: 100%;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:first-of-type {
      border-top: 1px solid black;
      font-weight: bold;
      font-size: 20px;
    }

    &:not(&.day-header) {
      height: 20%;
    }
  }

  .col{
    flex: 1;
    display: flex;
    justify-content: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    &:first-of-type{
      border-left: 1px solid black;
    }

    &.day {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      &.today {
        background-color: #474B604F;

      }

      &.not-current-month {
        background-color: #f5f5f5;
        opacity: .5;
      }

      &:hover {
        background-color: #474B601F;
      }

      .day-title {
        flex-basis: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 90%;
        padding: 0px 5%;

        .date {
          font-size: 18px;
          font-weight: bold;
        }

        .action {
          width: 15px;
          height: 15px;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            cursor: pointer;
            box-shadow: 1px 1px #474B60;
          }

          &:active {
            box-shadow: none;
          }
        }
      }

      .day-sessions {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex:1;
        width: 100%;


        .day-session {
          border-radius: 8px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          color:white;
          margin-top: 2px;
          font-size: 12px;
          height: calc(25% - 6px);
          width: calc(100% - 6px);
          font-weight: bold;
          border: 1px solid transparent;

          .client-info {
            padding: 3px 8px;
          }

          &:hover {
            border: 1px solid black;
            cursor:pointer;
          }

          &.payed {
            background-color: lightgreen;
            color: black;
          }

          &.debt {
            background-color: red;
            color:white;
          }

          &.future {
            background-color: #474B60;
            color:white;
          }

          &.more {
            color: #474B60;
            background-color: lightgrey;
            justify-content: center;
          }
        }
      }
    }
  }
}
