<div class="dashboard">
  <div class="group">
    <box-number-display [service]="boxNumberThisMonthRevenueAverageService"></box-number-display>
    <box-number-display [service]="boxNumberThisMonthRevenueService"></box-number-display>
    <box-number-display [service]="boxNumberDisplayTotalDebtService"></box-number-display>
    <box-number-display [service]="boxNumberDisplayFutureRevenueService"></box-number-display>
    <box-number-display [service]="boxNumberDisplayYearlyReceiptsRevenueService"></box-number-display>
  </div>
  <div class="group">
    <revenue-graph></revenue-graph>
  </div>
</div>
