.client-sessions {
  height: 100%;
  display: flex;
  flex-direction: column;

  .sessions-list-container {

    max-height: calc(100% - 60px);
    overflow: hidden;

    .title {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 15px;
      height: 25px;
    }

    .sessions-list {
      height: calc(100% - 40px);
      overflow-y: scroll;
      overflow-x: hidden;

      .sessions-scroll-container {
        padding-bottom: 25px;
      }
    }
  }

  .paging {
    flex-basis: 30px;
    margin-top: 8px;
  }
}
