.client-sessions {
  height: 100%;
  display: flex;
  flex-direction: column;

  .sessions-list-container {

    max-height: calc(100% - 60px);
    overflow: hidden;

    .title {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 15px;
    }

    .sessions-list {
      height: 100%;
      overflow: scroll;
      &::-webkit-scrollbar { width: 0 !important; height: 0!important; }
    }
  }

  .paging {
    flex-basis: 30px;
    margin-top: 8px;
  }
}
