.client-profile {
  display: flex;
  flex-direction: column;
  height: 100%;

  .client-details {
    margin-bottom: 10px;
    flex-basis: 120px;

    .detail {
      margin-bottom: 8px;
      display: flex;
      flex-direction: row;

      .label {
        flex-basis: 150px;
        font-weight: bold;
      }
    }
  }

  .client-sessions {
    flex: 1;
  }
}
