.backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.25);
  z-index: 50;

  &.open {
    visibility: visible;
  }

  &.closed {
    visibility: hidden;
  }

  .editor {
    position: absolute;
    bottom: 0;
    height: 180px;
    width: 500px;
    background-color: white;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;

    &.debt-session {
      border: 3px solid red;
    }

    &.payed-session {
      border: 3px solid lightgreen;
    }

    &.future-session {
      border: 3px solid #474B60;
    }

    .title {
      font-weight: bold;
      flex-basis: 30px;
    }

    .content {
      flex-basis: 120px;
      display: flex;
      flex-wrap: wrap;

      .notes {
        textarea {
          resize: none;
        }
      }

      .input {
        display: flex;
        flex-direction: column;
        width: 48%;
        padding: 0 2% 0 0;

        .receipt-state {
          display: flex;
          flex-direction: row;
          align-items: center;

          .receipt-state-text {
            width: 100px;
          }

          .toggle-receipt-state {
            margin-left: 5px;
            display: flex;
            align-items: center;
            width: 20px;
            justify-content: center;

            input[type=checkbox] {
              margin: 0px;
              padding: 0px;
            }
          }
        }

        .payment-state {
          display: flex;
          flex-direction: row;

          .toggle-payment-state-text {
            width: 100px;
          }

          .toggle-payment-state {
            margin-left: 5px;
            display: flex;
            align-items: center;
            width: 20px;
            justify-content: center;

            &:hover {
              color: #474B60;
              cursor: pointer;
            }
          }
        }
      }
    }

    .footer {
      display: flex;
      flex-basis: 30px;
      justify-content: flex-end;

      .button {
        margin-left: 10px;
        height: 20px;
        width: 80px;
      }
    }
  }
}
